<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Pilot License Number
            </td>
            <td>
                :
            </td>
            <td>
                <span th:text="${pilot.licenseNumber}"></span>
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                :
            </td>
            <td>
                <span th:text="${pilot.name}"></span>
            </td>
        </tr>
        <tr>
            <td>
                Fly Hour
            </td>
            <td>
                :
            </td>
            <td>
                <span th:text="${pilot.flyHour}"></span>
            </td>

        </tr>

    </table>
    <br>


    <table>
        <tr>
            <th>
                <a th:href="@{/flight/add/{licenseNumber}(licenseNumber=${pilot.licenseNumber})}">Add flight</a>
            </th>
            <th>
                <a th:href="@{/pilot/edit/{id}(id=${pilot.id})}">Edit pilot</a>
            </th>
            <th>
                <a th:href="@{/pilot/delete/{id}(id=${pilot.id})}">Delete pilot</a>
            </th>
        </tr>
    </table>
    <br>
    <table border="1">
        <tr>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Time</th>
            <th></th>
        </tr>
        <tr th:each="flight : ${flights}">
            <td th:text="${flight.flightNumber}">1</td>
            <td th:text="${flight.origin}">1</td>
            <td th:text="${flight.destination}">1</td>
            <td th:text="${flight.time}">1</td>
            <td>
                <a th:href="@{/flight/edit/{id}(id=${flight.id})}">Edit</a>
                <br>
                <a th:href="@{/flight/delete/{id}(id=${flight.id})}">Delete</a>
            </td>
        </tr>
    </table>

</body>
</html>